@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: 宋体;
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/body_bg.gif);
	background-repeat: repeat-x;
}
.logo { width:268px; text-align:right;}
.nav td { text-align:center; color:#FFFFFF; font-size:14px; height:38px; line-height:38px; border-right:1px solid #fff;}
.nav a { color:#FFFFFF; text-decoration:none;}
.nav a:hover { color:#A7A994; text-decoration:none;}
.top_p { text-align:right; color:#A7A994; height:24px; }
.banner { height:281px; background:url(../images/banner_bg.jpg); width:1002px; margin:0px auto; text-align:center;}
.banner td { text-align:center;}